.home{
  margin-left: 700px;
}

.home, .prod, .serv, .about, .cont{
  color: white;
  background-color: blue;       
  padding: 10px 15px;
  border-radius: 10px;
  background: none;
  border: none;
  cursor: pointer;  
}

.home:hover, .prod:hover, .serv:hover, .about:hover, .cont:hover{
  background-color: darkblue;
  transform: scale(1.05);
}

.title1{
  margin-right: auto;
  background-color: blue;    color: white;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
  padding: 15px;
}